body {
  margin: 0;
  padding: 0;
  background-color: grey;
  /* background-size: 100vw 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: URL(phone.jpg);
}
@media (orientation: landscape) {
  body {
    /* background-size: 100vw auto; */
    background-size: 100vw max(calc(100vh),100%);
  }
  body > div:first-child {
    margin: auto;
    margin-top: 18.2vh;
    margin-left: 36.4%;
    width: 18%;
    /* font-size: min(32px,max(calc(50vh / 16),12px)); // range: 12px .. 32px */
    font-size: min(calc(20vw/9),max(calc(50vh / 16),12px));

  }
}
@media (orientation: portrait) {
  body {
    /* background-size: auto 100vh; */
    background-size: auto 100%;
  }
  body > div:first-child {
    margin: auto;
    margin-top: 18.2vh;
    margin-left: calc(50% - 20.6vh);
    width: 30.8vh;
  }
}

body > div:first-child {
  font-family: "Sans Serif";
  overflow: visible;
  height: 58vh;
  border-radius: 5%;
  background-color: #110022;
  color: white;
  padding: 2%;
}
.sourceCode {
  overflow: auto;
}
footer {
  bottom: 0;
  position: fixed;
}
footer > a:hover {
  color: #440440;
}


h1,h2 { 
  text-align: center;
  color: #31d9b9;
}
div > a {
  color: #259bca;
}
a:first-letter {
  text-transform: capitalize;
}
a:active, a:hover {
  outline-width: 0;
}
a:link { color: #c0afc6 }
a:visited { color: #c0fff6 }
a:hover {
  text-decoration: none;
  color: #0676a4;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

